{% extends 'syncaltcontacts/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}    
    <div class="panel panel-default">
        <div class="panel-heading" style="display:flex;">
            <h3 class="panel-title">{% trans 'Your Synced Characters' %}</h3>
        </div>
        <div class="panel-body">            
            {% if has_synced_chars %}
                <table class="table" id="tab_syncaltcontacts">
                    <thead>                        
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Status</th>             
                            <th>Remove from Sync</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for character in characters %}
                            {% if character.has_error %}                                    
                                <tr class="danger">
                            {% else %}
                                <tr>    
                            {% endif %}                            
                                <td class="text-center"><img class="ra-avatar img-circle" src="{{ character.portrait_url }}">
                                </td>
                                <td>{{ character.name }}</td>
                                <td>{{ character.last_error_msg }}</td>
                                <td><a class="btn btn-warning" href="{% url 'syncaltcontacts:remove_alt' character.pk %}" role="button">
                                    <span class="fa fa-trash" style="font-size: 120%;"></span>
                                </a></td>
                            </tr>
                        {% endfor %}
                    </tbody>                        
                </table>
            {% else %}
                <p>None</p>
            {% endif %}
        </div>
    </div>

    {% if not has_alliance_char%}
        <p class="text-warning">Warning - The syncing service is currently not running. Admin needs to add an alliance token to activate.</p>
    {% endif %}

    <a class="btn btn-warning" href="{% url 'syncaltcontacts:add_alt' %}">Add Character to Sync</a>
    
    {% if perms.syncaltcontacts.add_alliancecharacter %}
        <a class="btn btn-default" href="{% url 'syncaltcontacts:add_alliance_character' %}">Add Alliance Character</a>
    {% endif %}

    <div class="bs-callout bs-callout-warning">
        <h4>Read Me First</h4>
        <p>This service enables you to have the current alliance standings on your non-alliance character. 
            Once activate it will automatically replace the personal contacts of your character with 
            the current Alliance contacts and will continue to do so until deactivated.</p>
            <p><strong>Careful!</strong> You will loose all your personal contacts on your synced character, so use with care.</p>
    </div>
        
{% endblock %}
